/* Footer - 1 */

#footer-1 {
  background-color: #232f3e;
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer-1 a {
  /* margin-top: 23px; */
  color: #ddd;
  scroll-behavior: smooth;
}

/* footer - 2 */

#footer-2 {
  height: 250px;
  background-color: #131921;
}

.footer-container {
  /* margin: auto; */
  padding: 0px 300px;
  background-color: #131921;
}

.footer-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px #ddd solid; */
}

.footer-list ul {
  display: flex;
  flex-direction: column;
}

.footer-list {
  margin: 30px 0;
}

.footer-list ul li {
  padding: 10px;
}

.footer-list ul li a {
  color: #fff;
}
