@media (max-widhth: "1100px") {
  .search {
    width: 300px;
  }
  .sidebar {
    display: none;
  }

  .buy-again {
    display: none;
  }
  .card-1 {
    display: none;
  }
  .main-area {
    margin: 20px 0;
  }
}

@media (max-width: 450px) {
  body {
    width: auto;
  }

  #navbar-search-res {
    height: 47px;
    display: block;
  }
  .search-res {
    display: block;
    width: auto;
    display: flex;
    margin: 10px 0 10p 30px;
  }

  .search-res .search-bar {
    width: 380px;
  }

  .search {
    display: none;
  }
  .thid {
    display: none;
  }
  #sidebar {
    display: none;
  }
  .buy-again {
    display: none;
  }
  .tab-2 {
    display: none;
  }
  .nav-img-2 {
    display: none;
  }

  #main-area {
    width: 400px;
  }
  .main-area {
    margin: 20px 10px;
    padding: 0;
  }
  .card .card-image img {
    width: 50px;
    height: 100px;
  }

  .card .rating {
    width: 150px;
  }

  .card .dphone img {
    width: 60px;
    height: 100px;
  }

  .card-contents {
    width: 200px;
    margin: 0 20px !important;
    margin-bottom: 20px;
  }

  .small {
    font-size: 0.7rem;
  }

  .footer-2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 30px;
  }

  .fhidden {
    display: none;
  }
  .footer-container {
    padding: 0px 50px;
  }
}
