* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
}

li {
  list-style: none;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
  /* color: #ffffff; */
}

/* Tabs */
.tab {
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  border: #131921 solid 1px;
}

.tab:hover,
.tab-2:hover,
.logo:hover {
  border: #ffffff solid 1px;
}

.tab-2 {
  padding: 5px 10px;
  color: white;
  font-size: 1rem;
  margin-top: 1px;
  border: #232f3e solid 1px;
}

.tab-2 a {
  color: white;
}

.tab-1 {
  display: flex;
}

/* Buttons */

.btn-search {
  background-color: #e4a84f;
  width: 50px;
  height: 45px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-buy {
  width: 100px;
  height: 35px;
  color: #333;
  background-color: #e9911e;
  border: 0.4px solid #e9911e;
  border-radius: 4px;
  cursor: pointer;
}

/* Navbar 1 */
#navbar,
#navbar-search-res {
  background-color: #131921;
  height: 75px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  overflow: none;
}

.ham {
  height: 65px;
  width: 100px;
  margin: 5px;
  background-color: #131921;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
}

.logo {
  color: white;
  border: 0.5px solid #aaa solid 0.2px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.y-logo {
  color: orange;
}
.logo-b {
  color: #555;
}

.b-logo {
  color: #25259b;
}

.main-logo {
  color: white;
  width: 150px;
  display: flex;
  margin-left: 10px;
  padding: 0;
}

.main-logo img {
  height: 150px;
  width: 150px;
  padding: 0;
}
#navbar-search-res {
  display: none;
}

.search {
  height: 100%;
  width: 700px;
  display: flex;
}

.search-bar {
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 20px;
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
}

.search-dropdown {
  width: 65px;
  height: 45px;
  border-right: 1px solid #eee;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ddd;
  text-align: center;
  font-size: 1rem;
  color: #555;
  padding-right: 5px;
}

.search-res {
  display: none;
}

/* Navbar 2 */

#navbar-2 {
  background-color: #232f3e;
  height: 45px;
}

.down-img {
  height: 40px;
  width: 400px;
  margin-top: 5px;
}

.nav-spa {
  margin-left: 100px;
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-top: 5px;
}

/* Navbar 3 */

#navbar-3 {
  background-color: #fff;
  height: 45px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.navbar-content-1 {
  margin: 10px 20px;
}
.navbar-content-2 {
  margin: 10px 20px;
}

.sort {
  padding: 3px 10px;
  background-color: #eee;
  border: #aaa solid 0.2px;
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
}

/* Sidebar */

#sidebar {
  /* background-color: #eee; */
  width: 335px;
  border-right: #bbb solid 0.5px;
  margin-top: 20px;
  padding-right: 10px;
  float: left;
  height: 100vh;
  /* position: fixed; */
}

#main-area {
  margin-top: 20px;
  /* float: left; */
  width: 1150px;
  margin-left: 0px;
}

.main-area {
  padding: 30px;
  width: 100%;
  margin-left: 360px;
  padding: 30px;
}

.buy-again {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
}

.card-1 {
  width: 271px;
  height: 550px;
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}

.card-img {
  width: 261px;
  height: 260px;
  /* border: 1px black solid; */
  /* margin-right: 27px; */
  margin-bottom: 10px;
  margin-top: 10px;
}
.card-img img {
  width: 100%;
  height: 100%;
}

.card-title {
  width: 260px;
  height: 100px;
  overflow: none;
  /* border: 1px black solid; */
  /* margin-bottom: 10px; */
  margin-right: 17px;
  cursor: pointer;
}

.card-title h4:hover {
  color: orangered;
}

.card-content .rating {
  width: 260px;
  height: 25px;
  /* border: 1px black solid; */
  display: flex;
}

.card-content .rating i {
  margin-top: 4px;
}

.card-content .rating img {
  width: 100px;
  height: 100%;
}

.card-content .price {
  width: 260px;
  height: 100px;
  overflow: none;
  /* border: 1px black solid; */
}

/* card-2 */

#card {
  border-top: #bbb solid 0.5px;
  margin-top: 30px;
  /* padding-top: 25px; */
}

.card {
  display: flex;
  /* justify-content: space-between; */
  align-content: flex-start;
  margin-top: 30px;
  padding-top: 25px;
  width: inherit;
}

.card .rating {
  width: 260px;
  height: 25px;
  /* border: 1px black solid; */
  display: flex;
}

.card .rating img {
  width: 100px;
  height: 100%;
  /* margin-right: 20px; */
}

.card .rating i {
  margin-top: 4px;
  margin-right: 4px;
}

.card .card-image img {
  width: 130px;
  height: 250px;
}

.card .dphone img {
  width: 168px;
}

.card-contents {
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; */
  text-align: left;
  margin: 0 100px;
  margin-bottom: 100px;
  cursor: pointer;
}

.card-contents h3:hover {
  color: orangered;
}

.next-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
  margin-top: 50px;
  padding: 20px 0;
}

.next {
  display: flex;
}

.next-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: 0.4px solid #999;
  background-color: #ddd;
  margin: 5px;
  cursor: pointer;
}

.next-btn:hover {
  color: #e9911e;
  border: #e9911e solid 0.6px;
}

.next a {
  padding-top: 12px;
  margin: 4px;
  color: #555;
  font-size: 0.9rem;
}
